extends layout

block content
  header
    img(src='/images/me.jpg', class='img-circle', id='me')
  #profileprofessional
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
    div(class='square')
      img(src='/images/cuadro.png')
  #message
    h1= 'Hi guys, this is my profile hope you like'
  #contentSelected